h1{
    text-align:center;
    border: solid;   
}

h1 div{
   margin: 25px; 
}
body{
    text-align:center;
    border: solid;
}
h1[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
section {
    display: flex;
  }
  * {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
  }
  nav {
    display: flex;
    height: 50px;
    background-color: #f3dba8;
  }
  nav div{
    font-size: 20px;
    margin: 10px;

  }